@model IEnumerable<SmartAdmin.Entity.Models.Company>

@{
    ViewData["Title"] = "企业信息";
    ViewData["PageName"] = "Companies_Index";
    ViewData["Heading"] = "<i class='fal fa-window text-primary'></i> 企业信息";
    ViewData["Category1"] = "组织架构";
    ViewData["PageDescription"] = "";
}
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    公司信息
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"><i class="fal fa-window-minimize"></i></button>
                    <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>
                </div>

            </div>
            <div class="panel-container show">
                <div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0  text-muted bg-subtlelight-fade ">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <!-- 开启授权控制请参考 @@if (Html.IsAuthorize("Create") -->
                            <div class="btn-group btn-group-sm">
                                <button onclick="append()" class="btn btn-default"> <span class="fal fa-plus mr-1"></span> 新增 </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button name="deletebutton" disabled onclick="removeit()" class="btn btn-default"> <span class="fal fa-times mr-1"></span> 删除 </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button name="savebutton" disabled onclick="accept()" class="btn btn-default"> <span class="fal fa-save mr-1"></span> 保存 </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button name="cancelbutton" disabled onclick="reject()" class="btn btn-default"> <span class="fal fa-ban mr-1"></span> 取消 </button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button onclick="reload()" class="btn btn-default"> <span class="fal fa-search mr-1"></span> 查询 </button>
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-animated">
                                    <a class="dropdown-item js-waves-on" href="javascript:void()"> 我的记录 </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item js-waves-on" href="javascript:void()"> 自定义查询 </a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-xs">
                                <button type="button" onclick="importexcel('Company')" class="btn btn-default"><span class="fal fa-cloud-upload mr-1"></span> 导入 </button>
                                <button type="button" class="btn btn-default  dropdown-toggle dropdown-toggle-split waves-effect waves-themed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-animated">
                                    <a class="dropdown-item js-waves-on" href="javascript:downloadtemplate()"><span class="fal fa-download"></span> 下载模板 </a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-xs">
                                <button onclick="exportexcel()" class="btn btn-default"> <span class="fal fa-file-excel mr-1"></span>  导出 </button>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">

}
@section ScriptsBlock {
    <script src="~/js/dependency/moment/moment.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>

        $(document).ready(function () {

            
            var table = $('#dt-basic-example').DataTable({
                searching: true,
                responsive: true,
                serverSide:true,
                orderCellsTop: true,
                orderMulti:false,
                fixedHeader: true,
                lengthMenu: [[10, 20, 50, 100, 500, 1000, -1], [10, 20, 50, 100, 500, 1000, "ALL"]],
                dom: 'rt<"d-flex flex-row"<"mr-auto"l><"mr-2"i><""p>><"clear">',
                initComplete: function () {
                    $('#dt-basic-example thead tr').clone(true).appendTo('#dt-basic-example thead');
                    $('#dt-basic-example thead tr:eq(1) th').each(function (i) {
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control form-control-sm" placeholder="' + title + '" />');
                        $('input', this).on('keyup change', function () {
                            if (table.column(i).search() !== this.value) {
                                table
                                    .column(i)
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
                ajax: {
                    url: "/Companies/LoadData",
                    type: "POST",
                    datatype: "json"
                },
                order: [[0, "desc"]],
                columnDefs: [{
                    targets: [0],
                    visible: false,
                    searchable: false
                }],
                columns: [
                    {
                        data: "Id",
                        name: "Id",
                        autoWidth: true
                    },
                    {
                        data: "Name",
                        name:'Name',
                        title:'@Html.DisplayNameFor(model=> model.Name)',
                        autoWidth: true
                    },
                    {
                        data: "Code",
                        name: 'Code',
                       title: "@Html.DisplayNameFor(model=> model.Code)",
                        autoWidth: true
                    },
                    {
                        data: "Address",
                        name: 'Address',
                        title: "@Html.DisplayNameFor(model=> model.Address)",
                        autoWidth: true
                    },
                    {
                        data: "Contect",
                        name: 'Contect',
                        title: "@Html.DisplayNameFor(model=> model.Contect)",
                        autoWidth: true
                    },
                    {
                        data: "PhoneNumber",
                        name: 'PhoneNumber',
                        title: "@Html.DisplayNameFor(model=> model.PhoneNumber)",
                        autoWidth: true
                    },
                    {
                        data: "RegisterDate",
                        name: "RegisterDate",
                        title: "@Html.DisplayNameFor(model=> model.RegisterDate)",
                        autoWidth: true,
                        render: function (data, type, full, meta) {
                            return moment(data).format('YYYY-MM-DD')
                        }
                    },
                    ],
                language: {
                    loadingRecords: "加载数据...",
                    processing: "处理数据...",
                    search: "查询:",
                    lengthMenu: " _MENU_ ",
                    zeroRecords: "空",
                    info: "第 _PAGE_ 页  共 _PAGES_ 页  _TOTAL_ 行记录 ",
                    infoEmpty: "第 0 至 0 项结果，共 0 项",
                    infoFiltered: "(有 _MAX_ 项结果过滤)"
                }
            });



        });
    </script>
}